@charset "utf-8";
@import url('http://javascript.ivyro.net/common6/css/reset.css');
@import 'design';
body {
    font: 14px/1.5 arial, Malgun Gothic, "맑은고딕", AppleGothic, dotum, "돋움", gulim, "굴림", sans-serif;
    color: $fontColor-1;
    min-width: 320px;
}

#wrap {
    max-width: 720px;
    margin: 0 auto;
}

#header {
    height: 103px;
    position: relative;
    .logo {
        text-align: center;
        padding-top: 28px;
        img {
            width: 142px;
        }
    }
    .btn-allmenu {
        width: 34px;
        position: absolute;
        left: 10px;
        top: 25px;
    }
    .gnb-outer-zone {
        position: fixed;
        right: -300%;
        top: 0;
        width: calc(100% - 80px);
        height: 100%;
        background-color: $mainColor-1;
        z-index: 400;
        color: #fff;
        transition: right .5s ease-in;
        &.on {
            right: 0;
            +.dim {
                display: block;
            }
        }
    }
    .dim {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .7;
        z-index: 399;
        display: none;
    }
    .btn-gnb-close {
        a {
            position: absolute;
            left: -50px;
            top: 10px;
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: 1px solid $mainColor-1;
            text-indent: -9999px;
            &:before {
                content: '';
                width: 28px;
                height: 1px;
                position: absolute;
                left: 5px;
                top: 50%;
                background-color: $mainColor-1;
                transform: rotate(45deg);
            }
            &:after {
                content: '';
                width: 28px;
                height: 1px;
                position: absolute;
                left: 5px;
                top: 50%;
                background-color: $mainColor-1;
                transform: rotate(-45deg);
            }
        }
    }
}

#gnb-wrap {
    height: 100%;
    overflow-y: auto;
    >li {
        >a {
            display: block;
            font-size: 16px;
            min-height: 48px;
            border-bottom: 1px solid #3ed8b2;
            padding: 13px 48px 10px 20px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 15px;
                right: 20px;
                width: 11px;
                height: 11px;
                border: 1px solid #fff;
                border-left-color: transparent;
                border-top-color: transparent;
                transform-origin: 50% 50%;
                transform: rotate(45deg);
            }
            &.on {
                &:after {
                    top: 22px;
                    transform: rotate(-135deg);
                }
                +ul {
                    //display: block;
                    background-color: #006c52;
                    >li {
                        >a {
                            display: block;
                            min-height: 48px;
                            border-bottom: 1px solid #108a6e;
                            padding: 14px 10px 10px 40px;
                        }
                    }
                }
            }
        }
    }
    ul {
        display: none;
    }
}

#container {
    padding: 0 10px;
    .tit-1 {
        font-size: 24px;
        color: $mainColor-1;
        margin-bottom: 15px;
    }
    .tit-2 {
        font-size: 16px;
        color: $fontColor-2;
        margin-bottom: 20px;
    }
    .tit-3 {
        font-size: 16px;
        font-weight: bold;
        color: $mainColor-1;
        margin-bottom: 15px;
    }
    >*[class*="main-row-"] {
        margin-top: 40px;
    }
    .main-row-1 {
        .tour-gallery-list {
            overflow: hidden;
            margin-left: -20px;
            >li {
                float: left;
                width: 50%;
                padding-left: 20px;
                &:nth-child(2n+1) {
                    clear: both;
                }
                &:nth-child(2)~li {
                    margin-top: 35px;
                }
                .gallery-wrap {
                    height: 0;
                    padding-bottom: 62.69592476489028%;
                    position: relative;
                    margin-bottom: 10px;
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                *[class*="info-"] {
                    color: $fontColor-2;
                    ~p {
                        padding-top: 10px;
                    }
                }
                .info-2 {
                    font-size: 16px;
                    font-weight: bold;
                    @include els;
                }
                .info-3 {
                    em {
                        font-size: 17px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .main-row-2 {
        .tour-hot-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
            >li {
                width: 50%;
                padding-left: 20px;
                text-align: center;
                &:nth-child(2) {
                    ~li {
                        margin-top: 15px;
                    }
                }
                .info-1 {
                    font-size: 16px;
                    color: $fontColor-2;
                    font-weight: bold;
                    padding: 15px 0;
                    @include els;
                }
                .info-2 {
                    @include lineClamp(42px,
                    2);
                }
            }
        }
    }
    .main-row-3 {
        *[class*="main-row-3-"] {
            ~div {
                margin-top: 20px;
            }
        }
        .youtub-zone {
            height: 0;
            padding-bottom: 56.25%;
            background-color: #000;
            position: relative;
            margin-bottom: 20px;
            iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
        .main-row-3-2 {
            background: url('../images/main/bg-gallery-3-1.png') no-repeat 0 center;
            background-size: cover;
            color: #fff;
            padding: 20px;
            .tit-2 {
                color: #fff;
            }
            .tit-3 {
                color: #fff;
                margin-top: 130px;
            }
            .txt-1 {
                text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
            }
        }
        .main-row-3-3 {
            .gallery-wrap {
                text-align: center;
                margin-bottom: 20px;
                padding: 20px;
                img {
                    max-width: 200px;
                }
            }
        }
    }
    .main-bottom-menu {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $bdColor-1;
        border-right: 1px solid $bdColor-1;
        margin: 30px -10px 0;
        li {
            width: 50%;
            border-left: 1px solid $bdColor-1;
            border-top: 1px solid $bdColor-1;
            font-size: 15px;
            a {
                display: block;
                min-height: 40px;
                padding: 10px 20px;
                em {
                    color: $fontColor-2;
                }
            }
        }
    }
}

#footer {
    background-color: $bgColor-1;
    padding: 50px 10px;
    text-align: center;
    font-size: 12px;
    word-spacing: -2px;
    letter-spacing: -1px;
}