@charset "UTF-8";
@import url("http://javascript.ivyro.net/common6/css/reset.css");
body {
  font: 14px/1.5 arial,Malgun Gothic,"맑은고딕",AppleGothic,dotum,"돋움",gulim,"굴림",sans-serif;
  color: #555;
  min-width: 320px;
}

#wrap {
  max-width: 720px;
  margin: 0 auto;
}

#header {
  height: 103px;
  position: relative;
}

#header .logo {
  text-align: center;
  padding-top: 28px;
}

#header .logo img {
  width: 142px;
}

#header .btn-allmenu {
  width: 34px;
  position: absolute;
  left: 10px;
  top: 25px;
}

#header .gnb-outer-zone {
  position: fixed;
  right: -300%;
  top: 0;
  width: calc(100% - 80px);
  height: 100%;
  background-color: #009b75;
  z-index: 400;
  color: #fff;
  -webkit-transition: right .5s ease-in;
  transition: right .5s ease-in;
}

#header .gnb-outer-zone:target {
  right: 0;
}

#header .gnb-outer-zone:target + .dim {
  display: block;
}

#header .dim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  z-index: 399;
  display: none;
}

#header .btn-gnb-close a {
  position: absolute;
  left: -50px;
  top: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #009b75;
  text-indent: -9999px;
}

#header .btn-gnb-close a:before {
  content: '';
  width: 28px;
  height: 1px;
  position: absolute;
  left: 5px;
  top: 50%;
  background-color: #009b75;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .btn-gnb-close a:after {
  content: '';
  width: 28px;
  height: 1px;
  position: absolute;
  left: 5px;
  top: 50%;
  background-color: #009b75;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#gnb-wrap {
  height: 100%;
  overflow-y: auto;
}

#gnb-wrap > li > a {
  display: block;
  font-size: 16px;
  min-height: 48px;
  border-bottom: 1px solid #3ed8b2;
  padding: 13px 48px 10px 20px;
  position: relative;
}

#gnb-wrap > li > a:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 20px;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#gnb-wrap > li > a.on:after {
  top: 22px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#gnb-wrap > li > a.on + ul {
  display: block;
  background-color: #006c52;
}

#gnb-wrap > li > a.on + ul > li > a {
  display: block;
  min-height: 48px;
  border-bottom: 1px solid #108a6e;
  padding: 14px 10px 10px 40px;
}

#gnb-wrap ul {
  display: none;
}

#container {
  padding: 0 10px;
}

#container .tit-1 {
  font-size: 24px;
  color: #009b75;
  margin-bottom: 15px;
}

#container .tit-2 {
  font-size: 16px;
  color: #111;
  margin-bottom: 20px;
}

#container .tit-3 {
  font-size: 16px;
  font-weight: bold;
  color: #009b75;
  margin-bottom: 15px;
}

#container > *[class*="main-row-"] {
  margin-top: 40px;
}

#container .main-row-1 .tour-gallery-list {
  overflow: hidden;
  margin-left: -20px;
}

#container .main-row-1 .tour-gallery-list > li {
  float: left;
  width: 50%;
  padding-left: 20px;
}

#container .main-row-1 .tour-gallery-list > li:nth-child(2n+1) {
  clear: both;
}

#container .main-row-1 .tour-gallery-list > li:nth-child(2) ~ li {
  margin-top: 35px;
}

#container .main-row-1 .tour-gallery-list > li .gallery-wrap {
  height: 0;
  padding-bottom: 62.69592476489028%;
  position: relative;
  margin-bottom: 10px;
}

#container .main-row-1 .tour-gallery-list > li .gallery-wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#container .main-row-1 .tour-gallery-list > li *[class*="info-"] {
  color: #111;
}

#container .main-row-1 .tour-gallery-list > li *[class*="info-"] ~ p {
  padding-top: 10px;
}

#container .main-row-1 .tour-gallery-list > li .info-2 {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#container .main-row-1 .tour-gallery-list > li .info-3 em {
  font-size: 17px;
  font-weight: bold;
}

#container .main-row-2 .tour-hot-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
}

#container .main-row-2 .tour-hot-list > li {
  width: 50%;
  padding-left: 20px;
  text-align: center;
}

#container .main-row-2 .tour-hot-list > li:nth-child(2) ~ li {
  margin-top: 15px;
}

#container .main-row-2 .tour-hot-list > li .info-1 {
  font-size: 16px;
  color: #111;
  font-weight: bold;
  padding: 15px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#container .main-row-2 .tour-hot-list > li .info-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 42px;
  overflow: hidden;
}

#container .main-row-3 *[class*="main-row-3-"] ~ div {
  margin-top: 20px;
}

#container .main-row-3 .youtub-zone {
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
  position: relative;
  margin-bottom: 20px;
}

#container .main-row-3 .youtub-zone iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#container .main-row-3 .main-row-3-2 {
  background: url("../images/main/bg-gallery-3-1.png") no-repeat 0 center;
  background-size: cover;
  color: #fff;
  padding: 20px;
}

#container .main-row-3 .main-row-3-2 .tit-2 {
  color: #fff;
}

#container .main-row-3 .main-row-3-2 .tit-3 {
  color: #fff;
  margin-top: 130px;
}

#container .main-row-3 .main-row-3-2 .txt-1 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

#container .main-row-3 .main-row-3-3 .gallery-wrap {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

#container .main-row-3 .main-row-3-3 .gallery-wrap img {
  max-width: 200px;
}

#container .main-bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 30px -10px 0;
}

#container .main-bottom-menu li {
  width: 50%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 15px;
}

#container .main-bottom-menu li a {
  display: block;
  min-height: 40px;
  padding: 10px 20px;
}

#container .main-bottom-menu li a em {
  color: #111;
}

#footer {
  background-color: #eee;
  padding: 50px 10px;
  text-align: center;
  font-size: 12px;
  word-spacing: -2px;
  letter-spacing: -1px;
}
/*# sourceMappingURL=style.css.map */